<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Patent Search Engine</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">

</head>

<body>
    <% include navbar %>
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-heading">Dataset List</div>
            <div class="panel-body">
                <p>
                    <strong>All Patents : </strong>
                    <br>
                    <% for (var i = 0 ; i < patents.length ; i++ ) { %>
                        <a href="/patent/<%= patents[i].patent_id %>"><%= patents[i].patent_id %></a>
                    <% } %>
                </p>
                <p><strong>Novel Patents : </strong>
                    <br>
                    <% for (var i = 0 ; i < patents.length ; i++ ) { %>
                        <% if (patents[i].class === '1') { %>
                            <a href="/patent/<%= patents[i].patent_id %>"><%= patents[i].patent_id %></a>
                        <% } %>   
                    <% } %>
                </p>
                <p><strong>Features : </strong>
                    <br>
                    <table class="table">
                        <thead>
                          <tr>
                            <th>#</th>
                            <th>backward_citation</th>
                            <th>science_linkage</th>
                            <th>uspc_originality</th>
                            <th>sim_bc_structure</th>
                            <th>novelty_sao</th>
                            <th>novelty_vsm</th>
                            <th>novelty_lsa</th>
                            <th>novelty_plsa</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for (var i = 0 ; i < patents.length ; i++) { %>
                            <tr>
                                <td><%= patents[i].patent_id %></td>
                                <td><%= patents[i].backward_citation %></td>
                                <td><%= patents[i].science_linkage %></td>
                                <td><%= patents[i].uspc_originality.toFixed(3) %></td>
                                <td><%= patents[i].sim_bc_structure.toFixed(3) %></td>
                                <td><%= patents[i].novelty_sao.toFixed(3) %></td> 
                                <td><%= patents[i].novelty_vsm.toFixed(3) %></td> 
                                <td><%= patents[i].novelty_lsa.toFixed(3) %></td> 
                                <td><%= patents[i].novelty_plsa.toFixed(3) %></td> 
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </p> 
            </div>
        </div>
    </div>
</body>

    <!-- Latest compiled and minified JavaScript -->
    <script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script>
    
    <script src="/javascripts/navbar.js" type="text/javascript"></script>
  
</html>